{% extends 'base.html' %} {% block title %} About us {% endblock title %} {% block body %}


<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="d-flex flex-column">
                    <br><br>
                    <img class="img-fluid w-100 align-self-end" src="static/img/IGNITE5.png" alt="">
                    <!-- <div class="w-50 bg-secondary p-5" style="margin-top: -25%;">
                        <h1 class="text-uppercase text-primary mb-3">25 Years</h1>
                        <h2 class="text-uppercase mb-0">Experience</h2>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <p class="d-inline-block bg-secondary text-primary py-1 px-4">About Us</p>
                <h1 class="text-uppercase mb-4">We are a team of aspiring students for the SIH Hackathon 2022.</h1>
                <p> </p>
                <!-- <p class="mb-4">Stet no et lorem dolor et diam, amet duo ut dolore vero eos. No stet est diam rebum
                    amet diam ipsum. Clita clita labore, dolor duo nonumy clita sit at, sed sit sanctus dolor eos. -->
                </p>
                <!-- <div class="row g-4">
                    <div class="col-md-6">
                        <h3 class="text-uppercase mb-3">Since 1990</h3>
                        <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet
                            diam et eos.</p>
                    </div>
                    <div class="col-md-6">
                        <h3 class="text-uppercase mb-3">1000+ clients</h3>
                        <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet
                            diam et eos.</p>
                    </div> -->
            </div>
        </div>
    </div>
</div>
</div>




<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <p class="d-inline-block bg-secondary text-primary py-1 px-4">Our Team</p>
            <h1 class="text-uppercase">Meet Our Team</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid" src="static/img/img1.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-square" href="mailto:mihir6365@gmail.com"><i class="fab fa-google"></i></a>
                            <a class="btn btn-square" href="https://github.com/Mihir6365"><i class="fab fa-github"></i></a>
                            <a class="btn btn-square" href="https://www.linkedin.com/in/mihir-savla-807357211/"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="bg-secondary text-center p-4">
                        <h5 class="text-uppercase">Mihir Savla</h5>
                        <!-- <span class="text-primary">Designation</span> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid" src="static/img/img6.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-square" href="mailto:prerna.madan@somaiya.edu"><i class="fab fa-google"></i></a>
                            <a class="btn btn-square" href="https://github.com/prernamadan"><i class="fab fa-github"></i></a>
                            <a class="btn btn-square" href="https://www.linkedin.com/in/prerna-madan-b87028230"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="bg-secondary text-center p-4">
                        <h5 class="text-uppercase">Prerna Madan</h5>
                        <!-- <span class="text-primary">Designation</span> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid" src="static/img/img2.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-square" href="mailto:taaha.m@somaiya.edu"><i class="fab fa-google"></i></a>
                            <a class="btn btn-square" href="https://www.github.com/taaaahahaha"><i class="fab fa-github"></i></a>
                            <a class="btn btn-square" href="https://www.linkedin.com/in/taaha-multani-b02999208"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="bg-secondary text-center p-4">
                        <h5 class="text-uppercase">Taaha Multani</h5>
                        <!-- <span class="text-primary">Designation</span> -->
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid" src="static/img/img4.jpg" alt="">
                        <div class="team-social">

                            <a class="btn btn-square" href="mailto:akhilesh.soni@somaiya.edu"><i class="fab fa-google"></i></a>
                            <a class="btn btn-square" href="https://github.com/Akilesh21"><i class="fab fa-github"></i></a>
                            <a class="btn btn-square" href="https://www.linkedin.com/in/akilesh-soni-b38759212"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="bg-secondary text-center p-4">
                        <h5 class="text-uppercase">Akhilesh Soni</h5>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid" src="static/img/img5.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-square" href="mailto: karan.darji@somaiya.edu"><i class="fab fa-google"></i></a>
                            <a class="btn btn-square" href="https://github.com/karandarji26"><i class="fab fa-github"></i></a>
                            <a class="btn btn-square" href="https://www.linkedin.com/in/karan-darji-572638233"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="bg-secondary text-center p-4">
                        <h5 class="text-uppercase">Karan Darji</h5>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid" src="static/img/img3.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-square" href="mailto:aaditya.v@somaiya.edu"><i class="fab fa-google"></i></a>
                            <a class="btn btn-square" href="https://github.com/Aadityaverma19"><i class="fab fa-github"></i></a>
                            <a class="btn btn-square" href="https://www.linkedin.com/in/aaditya-verma-8629a2203"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="bg-secondary text-center p-4">
                        <h5 class="text-uppercase">Aaditya Verma</h5>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>






<!-- Back to Top -->
<!-- <a href="#" class="btn btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a> -->


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="static/lib/wow/wow.min.js"></script>
<script src="static/lib/easing/easing.min.js"></script>
<script src="static/lib/waypoints/waypoints.min.js"></script>
<script src="static/lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Template Javascript -->
<script src="static/js/main.js"></script>

{% endblock body %}